ul{
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

a:link,a:visited{
    text-decoration: none;
    background-color: aqua;
    color: black;
    width: 60px;
    text-align: center;
}


a:active,a:hover{
    background-color: blue
}

li{
    display: inline
}